@media only screen and (max-width : 575px){

/* TOP BAR */

.top-bar {
  display: block;
}

.top-bar label {
  display: block;
  padding-top: 8px;
}

.fonts {
  padding: 8px 0;
}

/* NAVIGATION BAR  */

.nav-btn {
  margin-right: 10px;
}

/* HOME */

.home1 {
  height: 450px;
}

.caro1 {
  width: 100% !important;
  padding: 0 50px;
}

.caro1 h1 {
  font-size: 1.5rem;
}

.caro1 .para1 {
  width: 95%;
}

#demo a {
  width: 40px;
}

#demo ul {
  bottom: 12%;
  padding-left: 50px;
}

#demo li {
  width: 19px;
}

#demo i {
  font-size: 10px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 6px;
}

/* ABOUT */

.about-us img {
  margin-top: 20px;
}

.line1 {
  padding: 10px;
  align-items: center;
}

.single-line {
  margin-top: 20px;
  height: 240px;
}

.exp {
  display: block !important;
}

.line1 button {
  margin-top: 15px;
}

/* SERVICE */

#service {
  padding: 40px 0;
}

.service {
  max-width: 85%;
}

.service1 {
  max-width: 85%;
  margin: 0 auto;
}

/* PORTFOLIO */

#portfolio {
  padding: 40px 0;
}

#portfolio li {
  margin: 0 7px;
}

#portfolio li a {
  font-size: 0.65rem;
}

/* BLOG */

.blog1 {
  padding: 40px 0;
}

.blog4 {
  margin-top: 20px;
}

/* ADVISORS */

.advisors {
  padding: 40px 0;
}

.arrow {
  display: flex;
}

/* CLIENT */

.client {
  padding: 40px 0;
}

.cli2 {
  margin-top: 70px;
}

/* CONTACT */

.contact1 {
  padding: 40px 0;
}

.name1 {
  margin-bottom: 15px;
}

.name2 {
  margin-top: 20px;
}

/* LOGO */

.logo {
  padding: 40px 0;
}

.logo-image {
  text-align: center;
  margin-bottom: 10px;
}

/* FOOTER */

.business {
  padding: 40px 0;
}

.serve {
  display: block;
}

.footer-business {
  margin-top: 40px;
}

/* COPYRIGHT */

.copy {
  display: block !important;
  text-align: center;
  padding: 10px 0;
}

.icons1 {
  margin-top: 10px;
}










}
